{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MovieReviews</title>
  {% bootstrap_css %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container-fluid">
      <a href="/reviews/" class="navbar-brand p-2">
        <img src="{% static 'logo.png' %}" alt=""> MovieInfo
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/reviews/index/">목록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reviews/create/">추가</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {% block body %}{% endblock body %}
  </div>
  {% bootstrap_javascript %}
</body>

</html>